.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
/*voice-family: inherit;*/
}

.ddcolortabs ul{
font: normal 12px Verdana, Arial, sans-serif;*/
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
font: bold 10px Verdana, Arial, sans-serif;
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: white;
background: #0B3656 url(media/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 6px 8px 3px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #8cb85c;
}

.ddcolortabs a:hover span{
background-color: #8cb85c;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ /*currently selected tab*/
background-color: #8cb85c;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 8px;
line-height: 8px;
background: #0B3656; /*#678b3f;*/
/*border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
	display:none;
	color: #0B3656;
	font-size: 10px;
	font-weight: bold;	
	padding-top: 5px;
}

.tabcontent a{
	color: #8cb85c;
	font-weight: bold;
	padding-left: 10px;
	text-decoration:none;
}

.tabcontent a:hover{
	color: #0B3656;
	font-weight: bold;
}

.tabcontent a:hover span{
	color: #8cb85c;
}

.tabcontent a.current, #tabcontent a.current span{ /*currently selected tab*/
	color: #8cb85c;
}

.chromestyle{
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: ".";
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
color: #0B3656;
width: 100%;
/*background-color: #0B3656; /*THEME CHANGE HERE*/
margin: 0;
padding-left: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #8080FF;
padding: 2px 2px;
font: bold 11px Arial;
margin: 2px;
text-decoration: none;
border-right: 1px solid #DADADA;
}

.chromestyle ul li a:hover{
color: #FFF; /*THEME CHANGE HERE 0B3656*/
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
content: " ";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 10px Tahoma;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}

.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}