body{
	font:normal 11px Verdana;
	margin:0;
	background-color:#FFF;
}
form,input,button,tr,td,table,th,select{
	font-size:11px;
}
form{
	margin:0;
	padding:0;
}
#ticker{
	height:20px;
	background-color:#FFF9F2;
	border:1px solid #CCCCCC;
}
#ticker_text{
	font:normal 11px Verdana;
	margin:2px 10px;
	text-align:center;
}
#body{
	width:996px;
	margin:5px auto;
}

.img{
	margin:5px;
	padding:5px;
	border:1px solid #CCC;
	background-color:#F2F2F2;
}

.cbx{
	margin:0;
	padding:0;
	width:12px;
	height:12px;
}
